.forgotPassLink {
  font-size: 16px;
  font-weight: 500;
  line-height: 29.98px;
  color: var(--color-text-2);
}

.dontHaveAccount {
  font-size: 16px;
  font-weight: 500;
  line-height: 29.98px;
  color: var(--color-text-3);
  text-align: center;
}

.registerLink {
  color: var(--color-text-2);
}

@media (max-width: 1150px) and (max-height: 520px) {
  .dontHaveAccount {
    margin-top: 10px;
  }
}
