.main {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 36px;
  row-gap: 10px;
}

.nameAndScore {
  width: fit-content;
  max-width: 198px;
  min-width: min-content;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.name {
  max-width: inherit;
  overflow: hidden;
  white-space: nowrap;

  height: 54px;
  border-radius: 47.39px;
  border: 3px solid var(--color-sec);

  font-size: 28px;
  font-weight: 700;
  line-height: 52.47px;
  color: var(--color-text);

  display: flex;
  align-items: center;
  justify-content: center;
}

.name.limitExc {
  font-size: 15px;
}

.main:last-child .name {
  border: none;
  background-color: var(--color-sec);
}

.help {
  min-width: min-content;
}

.helpTitle {
  margin-bottom: 15.5px;

  font-size: 24px;
  font-weight: 700;
  line-height: 44.98px;
  text-align: center;
  color: var(--color-text);
}

.main.vertebraeMode .helpTitle {
  margin-bottom: 0;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.helpChances {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}

.helpChances > img {
  cursor: pointer;
}

.main.vertebraeMode .helpChances > img {
  width: 36px;
  height: 36px;
}

@media (max-width: 1200px) {
  .name {
    height: 45px;

    font-size: 24px;
    line-height: 45px;
  }

  .name.limitExc {
    font-size: 15px;
  }

  .helpTitle {
    margin-bottom: 10px;

    font-size: 17px;
  }

  .helpChances {
    gap: 5px;
  }

  .helpChances > img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 750px) {
  .main {
    flex: 1 0 45%;
    gap: 10px;
  }

  .nameAndScore {
    gap: 5px;
  }

  .name {
    height: 34px;

    font-size: 20px;
    font-weight: 700;
    line-height: 26.24px;
  }

  .helpTitle {
    margin-bottom: 10px;

    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
  }

  .helpChances > img {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 550px) {
  .main {
    gap: 5px;
  }

  .nameAndScore {
    min-width: 0;
  }

  .name.limitExc {
    font-size: 13px;
  }

  .helpTitle {
    margin-bottom: 10px;

    font-size: 17px;
    line-height: 25px;
  }
}

@media (max-height: 620px) {
  .nameAndScore {
    gap: 5px;
  }

  .name {
    height: 34px;

    font-size: 20px;
    font-weight: 700;
    line-height: 26.24px;
  }

  .name.limitExc {
    font-size: 13px;
  }

  .helpTitle {
    margin-bottom: 10px;

    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
  }

  .helpChances > img {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 1150px) and (max-height: 520px) {
  .main {
    max-width: max-content;

    gap: 16px;
  }

  .nameAndScore {
    max-width: 121px;
    min-width: 100px;
  }

  .name {
    max-width: inherit;
    height: 24px;
    padding: 0 10px;

    font-size: 14px;
    font-weight: 700;
    line-height: 26.24px;
  }

  .name.limitExc {
    font-size: 9px;
  }

  .helpTitle {
    margin-bottom: 5px;

    font-size: 14px;
    font-weight: 700;
    line-height: 26.24px;
    text-align: center;
  }

  .helpChances > img {
    width: 26px;
    height: 26px;
  }

  .main.vertebraeMode .help {
    display: flex;
    gap: 6px;
  }

  .main.vertebraeMode .helpTitle {
    font-size: 9px;
    font-weight: 700;
    line-height: 16.87px;
  }

  .main.vertebraeMode .helpChances > img {
    width: 24px;
    height: 24px;
  }
}
