.main {
  min-height: 0;
  padding: 0 16px;

  flex-grow: 1;
}

.roabState {
  background-color: var(--color-text);
}

@media (max-width: 650px) {
  .main.roabState {
    padding: 0 7px;
  }
}

@media (max-width: 1150px) and (max-height: 520px) {
  .main {
    padding: 0 30px;
  }
}
