.main {
  flex-grow: 1;
}

.ansContainer {
  width: 100%;
  min-width: 0;
  height: calc(100% - 27px);
  min-height: 0;
  padding: 30px 5vw 60px;
  border-radius: 40px;
  border: 4px solid #4ea9b4;
  background: white;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 36.5px;
}

.ansContainer:after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #4ea9b4, var(--color-pri));
  filter: blur(25px);

  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.main.center .ansContainer {
  justify-content: center;
}

.ansText {
  font-size: 24px;
  font-weight: 700;
  line-height: 44.98px;
  text-align: center;
  color: var(--color-text);
    word-break: break-word;
  overflow-wrap: break-word;
}

.ansMedia {
  max-width: 100%;
  max-height: auto;
  aspect-ratio: 320 / 280;
  border-radius: 30px;

  overflow: hidden;
  position: relative;

  flex-grow: 1;
}

.ansMedia img {
  cursor: pointer;
}

.ansMedia > * {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  object-fit: contain;
}

.whoAnswered,
.returnToQuestion {
  width: 186px;
  height: 54px;
  border-radius: 46.88px;
  background-color: var(--color-sec);

  position: absolute;
  bottom: -27px;

  font-size: 24px;
  font-weight: 600;
  line-height: 44.98px;
  color: var(--color-text);

  display: flex;
  align-items: center;
  justify-content: center;
}

.whoAnswered {
  left: 31px;
}

.returnToQuestion {
  right: 31px;
}

@media (max-width: 950px) {
  .ansContainer {
    padding: 25px 4vw 50px;
    border-radius: 30px;

    gap: 30px;
  }

  .ansText {
    font-size: 18px;
  }

  .ansMedia {
    /* max-width: 300px;
      max-height: 280px; */
    border-radius: 20px;
  }

  .questPoints {
    padding: 0 10px;

    top: -20px;
  }

  .whoAnswered {
    width: 120px;
    height: 50px;

    bottom: -25px;

    font-size: 17px;
  }

  .returnToQuestion {
    width: 120px;
    height: 50px;

    bottom: -25px;

    font-size: 17px;
  }
}

@media (max-width: 550px) {
  .ansContainer {
    padding: 10px 4vw 25px;
    border-radius: 20px;
    gap: 5px;
  }

  .ansText {
    font-size: 16px;
  }

  .ansMedia {
    margin: auto 0;
    border-radius: 20px;

    /* flex-grow: unset; */
  }

  .whoAnswered {
    width: 100px;
    height: 40px;

    bottom: -20px;
    left: 20px;

    font-size: 14px;
  }

  .returnToQuestion {
    width: 100px;
    height: 40px;

    bottom: -20px;
    right: 20px;

    font-size: 14px;
  }
}

@media (max-height: 700px) {
  .ansContainer {
    padding: 30px 4vw 25px;
    border-radius: 20px;
    gap: 10px;
  }

  .ansText {
    font-size: 20px;
  }

  .ansMedia {
    margin: auto 0;
    border-radius: 20px;
  }

  .whoAnswered {
    width: 100px;
    height: 40px;

    bottom: -20px;
    left: 20px;

    font-size: 14px;
  }

  .returnToQuestion {
    width: 100px;
    height: 40px;

    bottom: -20px;
    right: 20px;

    font-size: 14px;
  }
}

@media (max-height: 700px) and (max-width: 550px) {
  .ansContainer {
    padding: 10px 4vw 25px;
  }

  .ansText {
    font-size: 16px;
  }
}

@media (max-height: 700px) and (min-width: 950px) {
  .ansMedia {
    max-width: 400px;
    max-height: 380px;
    margin: auto 0;
  }
}

@media (max-height: 520px) {
  .ansContainer {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 30px;
    /* flex-direction: row; */
    gap: 10px;
  }

  .ansText {
    /* margin-top: 30px; */
    font-size: 16px;
    line-height: 26px;
    /* text-align: right; */
    /* align-self: flex-start; */
  }

  .main.center .ansText {
    text-align: center;
  }

  .ansMedia {
    height: 100%;
    margin: 0 auto;
    border-radius: 15px;
  }
}

@media (max-width: 1150px) and (max-height: 520px) {
  .ansContainer {
    padding: 10px 2.5vw 20px 5vw;
  }

  .whoAnswered,
  .returnToQuestion {
    height: 30px;

    font-size: 14px;
    font-weight: 500;
    line-height: 26.24px;

    bottom: -15px;
  }

  .ansMedia {
    max-width: 60%;
  }
}
