.main {
  width: 40px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;

  font-size: 16px;
  font-weight: 500;
  line-height: 29.98px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;

  transition: width 0.4s ease, font-weight 0.4s var(--timing-func-elastic);
}

.userIcon {
  width: 40px;
  height: 40px;

  transition: width 0.4s var(--timing-func-elastic),
    height 0.4s var(--timing-func-elastic),
    scale 0.4s var(--timing-func-elastic);
}

.main:hover {
  width: 150px;
  font-weight: 700;
}

.main:hover .userIcon {
  width: 30px;
  height: 30px;
}

@media (max-width: 1150px) and (max-height: 520px) {
  .main:hover {
    width: 40px;
  }

  .main:hover .userIcon {
    width: 40px;
    height: 40px;
    scale: 1.1;
  }
}
