.main {
  height: 100%;
  padding: 20px 20px 30px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 650px) {
  .main {
    padding: 5px 5px 15px;
    gap: 10px 5px;
  }
}

@media (max-height: 500px) {
  .main {
    padding: 5px 5px 15px;
    gap: 10px 5px;
  }
}

@media (max-width: 1150px) and (max-height: 520px) {
  .main {
    padding: 10px 5vw;

    align-items: stretch;
    justify-content: space-between;
    gap: 12px;
  }
}
